.PortalLogin-container #login-error-message {
    color:red;
}

.PortalLogin-container {
    background: rgb(199, 199, 199);
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    border: solid;
    border-color: black;
    border-radius: 10px;
    padding: 20px;
}

.PortalLogin-container #userInfo-form button {
    margin-left: 100px;
}

.PortalLogin-container label {
    padding-right: 10px;
}