@import '~bootstrap/dist/css/bootstrap.min.css';

#sales-metrics-container {
  min-height: 700px;
}

#sales-metrics-container h3 {
  color:black;
  margin-left: 20px;
  padding-left: 0;
}

#sales-metrics-container h2 {
  color:white;
  margin-left: 20px;
  padding-left: 0;
}


#orders-table-container button { 
  background:none;
  border:none; 
  color: white;
}

#sales-metrics-container button {
 
}

#sales-metrics-container button:hover {
  color: black;
}

