


#BasketSummary-container {
  flex-wrap: nowrap;
  border-radius: 10%;
  border: thick rgb(255, 20, 147, 0.85) dotted;
  background-color: rgb(255, 192, 203, 0.80);
}

.col-3{
  color:rgb(255, 255, 255);
}

.col-2{
  color: rgb(255, 255, 255);
}

.col-1{
  color: rgb(255, 255, 255);
}

#Cancel-in-basket{
  background: white;
    width: 16.5px;
    height: 16.5px;
    border-radius: 50%;
    text-align: center;
    line-height: 2px;
    vertical-align: middle;
    margin: 10 10 20px;
    
    color: rgb(255, 20, 147);
    font-size: 15px;
    font-weight: bold;
    
}

#Minus-in-basket{
  background: white;
    width: 16.5px;
    height: 16.5px;
    border-radius: 50%;
    text-align: center;
    line-height: 7px;
    vertical-align: middle;
    margin: 10px;
    margin-left: 15px;
    color: rgb(255, 20, 147);
    font-size: 15px;
    font-weight: bold;
}

#Plus-in-basket{
  background: white;
    width: 16.5px;
    height: 16.5px;
    border-radius: 50%;
    text-align: center;
    line-height: 17.5px;
    vertical-align: middle;
    margin: 10px;
    color: rgb(255, 20, 147);
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}

#total-price{
 color: rgb(255, 20, 147);
 margin-left: 30px;
}

#Checkout-button{
  margin: 10px;
  background: white;
    color: rgb(255, 20, 147);
    border-radius: 20%;
    width: 100px;
    float:right;
}

#Back-2-menu-button{
  background: white;
    color: rgb(255, 192, 203);
    margin: 15px;
    border-radius: 20%;
    width: 100px;
}

#place-order-button{
  background: white;
  color: rgb(255, 192, 203);
  margin: 15px;
  border-radius: 20%;
  width: 100px;
  float: right;
}