#BasketSummary-container {
  border-radius: 10%;
  border: thick rgb(255, 20, 147, 0.85) dotted;
  background-color: rgb(255, 192, 203, 0.80);
  width: 400px;
  position: fixed;
  top: 20vh;
  left: 60vw; 
  /*25 60*/
  
  
}

#BasketSummary-container .failed-modal {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
#BasketSummary-container .failed-modal .dialog {
  position: absolute;
  top: 10rem;
  left: 50%;
  height: 200px;
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
  transform: translateX(-50%);
}
.failed-modal .content {
  height: 100%;
  padding: 0 1rem 1rem;
}
.failed-modal .content .title {
  font-size: 1.5rem;
  text-align: center;
}
.failed-modal .footer {
  position: fixed;
  right: 2rem;
  bottom: 1rem;
}

#BasketSummary-container .loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
#BasketSummary-container .loading .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#flav{
 font-size: 15px;
 text-decoration: underline;
 color: white;
 margin-right: 5px;
 margin-left: -10px;
 margin-bottom: 10px;
}

#BasketSummary-container .col-3{
  justify-content: space-around;
  
}

#quan{
  font-size: 15px;
  text-decoration: underline;
  color:white;
  margin-right: 5px;
  margin-bottom: 10px;
}

#size{
  font-size: 15px;
  text-decoration: underline;
  color:white;
  margin-right: 5px;
  margin-bottom: 10px;
}

#price{
  font-size: 15px;
  text-decoration: underline;
  color:white;
  margin-right: 5px;
  margin-bottom: 10px;
}

#order-flav{
  font-size: 15px;
  color:rgb(238, 0, 238);
  margin-right: 5px;
  margin-left: -10px;
  margin-bottom: 10px;
 }
 
 #order-quan{
   font-size: 15px;
   color:rgb(238, 0, 238);
   
 }
 
 #order-size{
   font-size: 15px;
   color:rgb(238, 0, 238);
   margin-right: 5px;
   margin-left: 15px;
 }
 
 #order-price{
   font-size: 15px;
   color:rgb(238, 0, 238);
 }



#total-price{
 color: rgb(255, 20, 147);
 margin-left: 17px;
 margin-bottom: 5px;
}

#Back-2-menu-button{
  background: white;
    color: rgb(255, 20, 147);
    margin: 15px;
    border-radius: 20%;
    width: 100px;
    border: 2px solid #FFFF00;
}

#place-order-button{
  background: white;
  color: rgb(255, 20, 147);
  margin: 15px;
  border-radius: 20%;
  width: 100px;
  float: right;
  border: 2px solid #FFFF00;
}

#Cancel-in-basket{
  background: white;
    width: 16.5px;
    height: 16.5px;
    border-radius: 50%;
    text-align: center;
    line-height: 10px;
    margin-left: -18px;
    color: rgb(255, 20, 147);
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #FFFF00;
    
}

#Minus-in-basket{
  background: white;
    width: 16.5px;
    height: 16.5px;
    border-radius: 50%;
    text-align: center;
    line-height: 7px;
    vertical-align: middle;
    margin-left: 3px;
    margin-right:3px;
    color: rgb(255, 20, 147);
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #FFFF00;
}

#Plus-in-basket{
  background: white;
    width: 16.5px;
    height: 16.5px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
    margin-left: 3px;
    color: rgb(255, 20, 147);
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    border: 1px solid #FFFF00;
}

#Checkout-button{
  margin: 10px;
  background: white;
    color: rgb(255, 20, 147);
    border-radius: 20%;
    width: 100px;
    float:right;
    border: 1px solid #FFFF00;
}
