.footer-container {
  background-color: #242424;

  height: max-content;

}

p {
  color: white;
}

li {
  flex-direction: row;
  color: white;
  margin: auto;
  text-align: centre;
}

ul {


  margin: auto;
  text-align: centre;
}