@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.navbar {
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);;
  justify-content: space-evenly  !important;
  padding: 0 0 0 !important;
  
}

#rest-name {
  color: white;
  font-size: 50px;
  font-family: 'Lobster', cursive;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  margin-top: 15px;
  
  text-decoration: underline overline dotted;
  
}

#rest-slogan{
  margin-left: 80px;
  margin-top: 10px;
  font-size: 45px;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c, 18px 1px 4px rgb(255, 20, 147), 18px 1px 4px rgb(255, 20, 147), 18px 1px 4px rgb(255, 20, 147), 18px 1px 4px rgb(255, 20, 147), 18px 19px 9px rgb(255, 20, 147);
  color: #ffffff;
  font-family: 'Dancing Script', cursive;
    }


.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

 
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  list-style: none;
  margin: 0px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}

.nav-links:hover {
  color: aqua;
  transition: all 0.2s ease-out;
  background: rgba(255, 255, 255, 0.4);
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .website-title {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
