.background{
  margin: 50px;
  border-radius: 20px;
  text-align: center;

}

.iceImages{

  border: 1px solid black;
  border-radius: 200px;

}

.productList{
  margin: 0 25px 0;
}

.item-container {
  background: rgba(238, 126, 182, 0.5);
  flex-direction: column;
  width: 200px;
  border: thick black solid;
  font-size: 15px;
}
