.background{
  margin: 50px;
  border-radius: 20px;
  text-align: center;

}

.iceImages{

  border: 1px solid black;
  border-radius: 200px;

}



.item-container {
  background: rgba(238, 126, 182, 0.5);
  flex-direction: column;
  width: 200px;
  border: thick rgb(255, 95, 95) solid;
  border-radius: 15px;
  font-size: 15px;
  margin: 10px;
  
}
