.background{
  margin: 50px;
  border-radius: 20px;
  text-align: center;

}

.iceImages{

  border: 1px solid black;
  border-radius: 200px;

}



.item-container {
  background: rgba(238, 126, 182, 0.829);
  width: 200px;
  border: thick rgb(255, 20, 147, 0.85) solid;
  border-radius: 15px;
  font-size: 15px;
  margin: 10px;

}

#change-amount {
  display:inline flex ;
}


h4 {
  display: inline;
}

/* image for each item */

#Vanilla-image {
  background-image: url(./ItemImages/F01.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: auto;
}

#Vanilla\(Dairy-Free\)-image {
  background-image: url(./ItemImages/F02.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: auto;
}

#Rum-and-Raisin-image {
  background-image: url(./ItemImages/F03.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: auto;
}

#Honeycomb-image {
  background-image: url(./ItemImages/F04.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: auto;
}

#Mint-image {
  background-image: url(./ItemImages/F05.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: auto;
}

#Cherry-image {
  background-image: url(./ItemImages/F06.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: auto;
}

#Chocolate-image {
  background-image: url(./ItemImages/F07.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: auto;
}

#Salted-Caramel-image {
  background-image: url(./ItemImages/F08.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: auto;
}

#Strawberry-image {
  background-image: url(./ItemImages/F09.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: auto;
}
