* {
    list-style: none;
}

#orderResult {
    background-image: url(/src/BackgroundPic/happy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 574px;
}
